/* grid details to go here */
.img_container {
    width: 100%;
    height: auto;
}

.img_container img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    padding-top: 17.5px;
}

.home {
    width: 100%;
    display: grid;
    margin-top: 25px;
    grid-template-columns: repeat(12, 1fr);
}

.productcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns with equal width */
    grid-gap: 20px;
    /* Spacing between grid items */
    grid-column: 2 / span 10;
}

@media only screen and (max-width: 1000px) {
    .productcontainer {
        grid-column: 1 / span 12;
    }
}

@media only screen and (max-width: 750px){
    .productcontainer {
        grid-template-columns: repeat(2, 1fr);
    }
    .home {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 350px) {
    .productcontainer {
        grid-template-columns: repeat(1, 1fr);
    }
}
