.productcontainer {
    background-color: #FFFFFF;
}

.imagecontainer img {
    width: 100%;
    height: auto;
}

.container{
    text-decoration: none;
}

.productcontainer img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.detailscontainer {
    text-decoration: none;
    color: black;
    padding: 1rem;
}


@media only screen and (max-width: 1000px) {
    .detailscontainer h3, h4 {
        margin: 0;
    }

    .detailscontainer h3 {
        font-size: 16px;
    }

    .detailscontainer h4 {
        font-size: 14px;
    }

}


